/* import fonts */
@import '../assets/font/Inter/inter.css';
@import '../assets/font/Manrope/manrope.css';
@import '../assets/font/Raleway/raleway.css';

:root {
  /* colour scheme */
  --dark-one: #2a3645;
  --light-one: #dedede;
  --purple: #925ee0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway;
  background-color: var(--dark-one);
  color: var(--light-one);
}

h1 {
  font-family: Inter;
  font-weight: 900;
  font-size: 4.5rem;
}

h2 {
  font-family: Manrope;
  font-size: 3.5rem;
  font-weight: 500;
}

h3 {
  font-family: inherit;
  font-size: 2rem;
}

p {
  font-family: inherit;
  font-size: 1rem;
}

.headera {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 800px;
  display: inline-block;
  padding: 18px 21px;
}

.headeritem {
  font-family: Manrope, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  color: var(--light-one);
  max-width: 800px;
  display: inline-block;
  text-align: center;
  top: 12px;
  transition-duration: 0.4s;
}

.headeritem::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 0px;
  background-color: var(--purple);
}

.headeritem:hover {
  top: 0px;
  color: var(--purple);
}

.headeritem:hover::after {
  width: 100%;
  transition: all 0.4s;
}

/* first section */
.front {
  padding-top: 11%;
  padding-bottom: 15%;
  margin: -10em -0.5em;
  background-color: var(--dark-one);
  background-image: url("../assets/img/bg/mountains.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* text in .front */
.text {
  text-align: left;
}

#tagline {
  font-family: Inter;
  font-weight: 900;
  font-size: 4.5rem;
}

.text #desc {
  margin-left: 10%;
  margin-right: auto;
  width: 70%;
  padding-bottom: 25px;
}

.text #des {
  margin-left: 10%;
  margin-right: auto;
  font-weight: 300;
  line-height: 1.3;
  width: 80%
}

.button {
  border: none;
  color: var(--light-one);
  font-family: inherit;
  font-size: 1.25rem;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonpure {
  margin-left: 11%;
  margin-right: auto;
  margin-top: 1%;
  width: auto;
  background-color: #2a364544;
  border: 2px solid var(--purple);
}

.buttonpure:hover {
  background-color: var(--purple);
}

/* mobile */
@media only screen and (max-device-width: 480px) {
  h1 {
    font-weight: 900;
    font-size: 8rem;
    text-align: center;
  }

  h2 {
    font-size: 6rem;
    font-weight: 500;
    text-align: center;
  }

  h3 {
    font-family: inherit;
    font-size: 4.5rem;
    text-align: center;
  }

  #tagline {
    font-weight: 900;
    font-size: 8rem;
  }

  .text #desc {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 90%;
    padding-bottom: 25px;
  }
  
  .text #des {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    font-size: 3rem;
  }

  .buttonpure {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
